body {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.mt-2 {
  margin-top: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}
.mb-4 {
  margin-bottom: 4rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.p-2 {
  padding: 2rem;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.h-full {
  height: 100%;
}

.bold {
  font-weight: bold;
}
 

